[v-cloak] {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #d3d3d38f;
}

pre {
    display: inline-block;
    width: 50%;
    margin: 5vh auto;
}

h3,
p {
    width: 100%;
    text-align: center;
}

.app>div {
    background-color: #afc7bf;
    text-align: center;
    line-height: 10vh;
    width: 70vw;
    margin: 0 auto;
    box-shadow: 0 15px 15px 0 rgba(15, 37, 64, 0.1);
}

button {
    border: 3px solid transparent;
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c7cfc0;
}

ul {
    list-style: none;
    padding: 0;
}

button:hover {
    border: 3px solid lightcyan;
}