/* 封面内容 */
.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../img/Home/banner1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
    transition: opacity 1s;
}

/* 主页内容 */
a {
    text-decoration: none;
    color: #9C9C9C;
    font-size: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    opacity: 0;
    position: relative;
    transition: opacity 1s;
}

/* 导航 */
.tittle {
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100px;
    z-index: 98;
    background: url('../img/logo.png') no-repeat;
    background-position: 10% center;
    background-size: 40px 44px;
    transition: all 1s;
}

.menu {
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 99;
    cursor: pointer;
}

.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 4%;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
    width: 100px;
    text-align: center;
}

.nav li {
    /* float: left; */
    cursor: pointer;
    height: 75px;
    line-height: 75px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
}

.nav li a:hover {
    border-bottom: 2px solid #000000;
    color: #000000;
}

/* 轮播 容器 */
.swiper-container,
.swiper-wrapper {
    width: 100%;
    height: 100%;
}

/* 轮播导航 */
.swiper-pagination span {
    width: 15px;
    height: 5px;
    border-radius: 0;
}

/* 当前轮播导航 */
.swiper-pagination-bullet-active {
    background-color: rgb(44, 44, 44);
}

/* 切换按钮 */
.swiper-button-prev,
.swiper-button-next {
    color: rgb(151, 149, 149);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    font-weight: bolder;
    color: #000000;
}

.swiper-slide {
    position: relative;
}