<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue基础学习---基础指令</title>
    <style>
        [v-cloak] {
            display: none;
        }

        .hint {
            color: red;
        }

        .con {
            color: lightblue;
        }

        .con2 {
            color: lightcoral;
        }

        .con3 {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <h1 class="hint">v-if条件渲染和@事件绑定</h1>
        <h3 v-if="on">yes</h3>
        <h3 v-else>no</h3>
        <button @click="change">change</button>
        <hr>
        <h1 class="hint">v-for列表渲染</h1>
        <ul v-for="(item,index) in mans" :key="index">
            <li>{{index+1}}</li>
            <li>{{item.name}}</li>
            <li>{{item.age}}</li>
        </ul>
        <hr>
        <h1 class="hint">v-model双向绑定</h1>
        <input type="text" v-model="msg">
        <p>{{msg}}</p>
        <hr>
        <h1 class="hint">Vue.component创建组件和通过props父子组件通信</h1>
        <btn v-bind:name="name"></btn>
        <!-- <img v-bind:src="src" alt="图片"> -->
        <hr>
        <h1 class="hint">(对象形式)动态绑定class</h1>
        <!-- 当active是true时 给p标签添加名为con的class -->
        <p :class="{con:active}">测试内容</p>
        <hr>
        <h1 class="hint">(数组形式)绑定class</h1>
        <p :class="[arr,arr2]">测试内容2</p>
        <hr>
        <h1 class="hint">计算属性 computed</h1>
        <p>{{findSame}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        let msg = {
            name: "shauxin",
            age: 21
        };
        console.log(msg);
        // 封装一个提示按钮组件
        Vue.component("btn", {
            props: ['name'],
            template: "<button @click='hint'>确定</button>",
            methods: {
                hint() {
                    alert(this.name);
                }
            }
        });
        new Vue({
            el: "#app",
            data() {
                return {
                    num: [1, 1, 2, 3],
                    active: 1,
                    arr: "con2",
                    arr2: "con3",
                    src: './img/10182313148_600x376.jpg',
                    on: true,
                    name: "shuaxin",
                    mans: [{
                        name: "wade",
                        age: 30
                    },
                    {
                        name: "kobe",
                        age: 40
                    }
                    ],
                    msg: "年后"
                }
            },
            methods: {
                change() {
                    this.on = !this.on;
                },

            },
            computed: {
                // 查找数组中相同的内容并返回
                findSame() {
                    let arr = [];
                    for (let i = 0; i < this.num.length; i++) {
                        if (arr.indexOf(this.num[i]) == -1) {
                            arr.push(this.num[i]);
                        }
                    }
                    return arr;
                }

            }
        })
    </script>
</body>

</html>